name: expandable_text
description: Widget that only shows the first lines of a text and adds a link to expand the full text.
version: 2.3.0
repository: https://github.com/fweinaug/expandable_text

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
